#menu{
    background-color: rgb(65, 103, 230);
    padding: 5px;
}
.menuItem{
    position: relative;
    padding: 9px;
    color: rgb(245, 240, 241);
    font-size: 16px;
    font-family: Helvetica;
    z-index: 1;
}
.menuItem::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 221, 0.781);
    transition: all 1s;
    z-index: -1;
}
.menuItem:hover::before, .menuItem:hover::after{
    width: 100%;
}
.menuItem::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    right: 0;
    top: 0;
    background-color: rgba(255, 0, 221, 0.781);
    transition: all 1s;
    z-index: -1;
}