.container{
    max-width: 980px;
    padding: 60px;
    margin: auto;
}
.photo-grid >img{
    position: relative;
    margin-top: -100px;
    padding: 10px;
    text-align: center;
}
img{
    position: relative;
    height: 172px;
    background-color: #fff;
    box-shadow: 0 0 5px #000000;
    padding: 10px;
    z-index: 2;
}
img:nth-child(even){
    transform: translate(10px, 0px) rotate(8deg);
}
img:nth-child(odd){
    transform: translate(40px, -30px) rotate(-5deg);
}
img:nth-child(3n){
    transform: translate(7px -40px) rotate(-15deg);
}
img:nth-child(5n){
    left: 5px;
    top: 20px;
}
img:nth-child(6n){
    transform: translate(-10px, -30px) rotate(15deg);
}
img:nth-child(9n){
    top: 40px;
    transform: translate(-9px, -30px) rotate(22deg);
}
img:hover{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
    transform: rotate(360deg) scale(1.5);
    z-index: 10;
}
img{
    transition: all 0.4s ease-in 0s;
}
.clear{
    clear: both;
}
